.App {
  display: flex;
  flex-flow: row wrap;
  /* The remaining place (horizontaly) will be spread out around divs in wrapper. */
  justify-content: space-around;
}

.App-header {
  flex: 0 0 100%;
  background-color: #282c34;
  min-height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-username {
  position: absolute;
  right: 1em;
}

.App-editor {
  padding: 1em;
  /* To center the text vertically. */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /*Styles for sample presentation*/
  text-align: justify;
  flex: 1 0 30%;
}

.App-editor textarea {
  font-family: Courier, monospace;
  resize: none;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 40px;
  background-color: #d8d8d8;
  border-radius: 5px;
  outline: none;
}

.App-editor textarea:focus {
  border-color: #338eda;
  border-width: 2px;
}

.App-history {
  flex: 0 0 25%;
  margin-left: 0;
  padding: 1em;
  overflow: scroll;
  height: 80vh;
}

.App-link {
  color: #61dafb;
}

.App-icon-clip {
  width: 25px;
  height: 25px;
  margin-left: 0.5rem;
  display: inline-block;
  cursor: pointer;
}

.clip {
  width: 100%;
  height: 100%;
}

.App-icon-clip:hover {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
